.header{
    display: flex;
    justify-content: center;
    height: 70px;
    position: relative;
}
.header-nav{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    width: 260px;
}
.header-logo{
    margin-top: 10%;
    width: 50px;
}

.gameContainer{
    margin-top: 10%;
}