.header {
  display: flex;
  justify-content: center;
  height: 70px;
  position: relative;
<<<<<<< HEAD:src/styles/components/header.scss
  &-circle {
=======

  &-circle{
>>>>>>> 6a503f2add231bb31de9831f44e454c6e46f2a67:src/styles/components/_header.scss
    display: flex;
    justify-content: center;
    align-items: center;
    width: 139px;
    height: 139px;
    border-radius: 100px;
    background: #fff;
  }
<<<<<<< HEAD:src/styles/components/header.scss
  &-nav {
=======
  &-nav{
    position: sticky;
>>>>>>> 6a503f2add231bb31de9831f44e454c6e46f2a67:src/styles/components/_header.scss
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    width: 260px;
  }
  &-navItem {
    cursor: pointer;
  }
  .rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    position: absolute;
    top: 100%;
    right: 4%;
  }
}

.homeContainer {
  display: flex;
  justify-content: space-between;
  height: 604px;
}
.mediaLogo {
  cursor: pointer;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  align-items: center;
  height: 251px;
  margin-left: 2.4%;
  .line {
    height: 60px;
    width: 1px;
    background: black;
  }
  .date {
    line-height: 20px;
    margin-top: 3px;
    text-align: center;

    .red {
      color: #d30c43;
      font-size: 26px;
      font-weight: 900;
    }
  }
}

.homeVideo {
  width: 81%;
  height: 603px;
  position: absolute;
  z-index: -1;
  left: 9.4%;
}
